In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [151]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1103,tt0266465,36000000,44350926,A Man Apart,Vin Diesel|Larenz Tate|Timothy Olyphant|Geno S...,F. Gary Gray,Love changes a man. Revenge tears him apart.,When Vetter's wife is killed in a botched hit ...,109,Action|Drama,New Line Cinema|Newman/Tooley Films|Joseph Nit...,4/4/2003,5.7,2003
582,tt0250224,13000000,16929123,Crazy/Beautiful,Kirsten Dunst|Jay Hernandez|Bruce Davison|Herm...,John Stockwell,When it's real. When it's right. Don't let any...,"At Pacific Palisades High, a poor Latino falls...",99,Drama|Romance,Touchstone Pictures|Ufland,6/29/2001,6.6,2001
940,tt0257360,30000000,105834556,About Schmidt,Jack Nicholson|Kathy Bates|Hope Davis|Dermot M...,Alexander Payne,Schmidt Happens,66-year-old Warren Schmidt is a retired insura...,125,Drama|Comedy,New Line Cinema|Avery Pix,12/13/2002,6.7,2002
1138,tt0327850,85000000,80916492,The Rundown,Dwayne Johnson|Seann William Scott|Rosario Daw...,Peter Berg,cut to the chase,"When Travis, the mouthy son of a criminal, dis...",104,Adventure|Action|Comedy|Thriller,Columbia Pictures|Universal Pictures|WWE Studios,9/26/2003,6.3,2003
38,tt1398426,28000000,201634991,Straight Outta Compton,O'Shea Jackson Jr.|Corey Hawkins|Jason Mitchel...,F. Gary Gray,The Story of N.W.A.,"In 1987, five young men, using brutally honest...",147,Drama|Music,New Line Cinema|Universal Pictures|Legendary P...,8/13/2015,7.7,2015

In [11]:
data.describe()
#data.info()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [278]:
'''
Defining a function that accepts a result 
and an output type as arguments and returns
a result in a way that can be written directly
into a dictinary that is used below 
to store answers.

This function is here to avoid copying and
pasting the results all the time.

More comments inside the function itself.
'''

def store_answer(result, out_type):
    # this output type returns an answer 
    # formatted like this (example below):
    # 'Some movie name (tt123456)'
    if out_type == 'id_and_movie':
        return f"{result['original_title'].values[0]} ({result['imdb_id'].values[0]})"
    elif out_type == 'single_value':
        return result
    else:
        return "Undefined output type. Please fix."
    
# dictionary for the answers
#answers = {}

# adding a profit column to our dataframe
data['profit'] = data['revenue'] - data['budget']

# creating a separate column where genres are
# stored as lists (not as strings separeted by |)
data['genres_list'] = data['genres'].apply(lambda x: x.split(sep='|'))

# separate column where directors are stored
# as lists (some movies have multiple directors)
data['director_list'] = data['director'].apply(lambda x: x.split(sep='|'))

# separate column where actors are stored
# as lists (movies have multiple actors)
data['cast_list'] = data['cast'].apply(lambda x: x.split(sep='|'))

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [95]:
answers['1'] = store_answer(data[data['budget'] == data['budget'].max()], 'id_and_movie')

# 2. Какой из фильмов самый длительный (в минутах)?

In [96]:
answers['2'] = store_answer(data[data['runtime'] == data['runtime'].max()], 'id_and_movie')

# 3. Какой из фильмов самый короткий (в минутах)?

In [97]:
answers['3'] = store_answer(data[data['runtime'] == data['runtime'].min()], 'id_and_movie')

# 4. Какова средняя длительность фильмов?

In [98]:
answers['4'] = store_answer(int(round(data['runtime'].mean(),0)), 'single_value')

# 5. Каково медианное значение длительности фильмов?

In [99]:
answers['5'] = store_answer(int(round(data['runtime'].median(),0)), 'single_value')

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [100]:
answers['6'] = store_answer(data[data['profit'] == data['profit'].max()], 'id_and_movie')

# 7. Какой фильм самый убыточный?

In [101]:
answers['7'] = store_answer(data[data['profit'] == data['profit'].min()], 'id_and_movie')

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [102]:
answers['8'] = store_answer(len(data[data['profit'] > 0]), 'single_value')

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [238]:
answers['9'] = store_answer(data[data['release_year'] == 2008].sort_values(by='revenue', ascending=False).head(1), 'id_and_movie')

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [104]:
answers['10'] = store_answer(data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values(by='profit').head(1), 'id_and_movie')

# 11. Какого жанра фильмов больше всего?

In [215]:
answers['11'] = store_answer(data['genres_list'].explode().value_counts().index[0], 'single_value')

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama'}

ВАРИАНТ 2

In [216]:
'''
Alternative approach:

Creating a concatenated string for all the genres
from all the rows of a dataframe (separated by |)
and splitting them into a list. Casting a list 
to Counter and using Counter.most_common() method
to get the first entry from the top
'''

answers['11'] = store_answer(Counter(data['genres'].str.cat(sep='|').split(sep='|')).most_common(1)[0][0], 'single_value')

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [241]:
answers['12'] = store_answer(data[data['profit'] > 0]['genres_list'].explode().value_counts().index[0], 'single_value')

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [277]:
answers['13'] = store_answer(data.explode('director_list').groupby(by=['director_list'])['revenue'].sum().sort_values(ascending=False).index[0], 'single_value')

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [272]:
answers['14'] = store_answer(data[data['genres'].str.lower().str.contains('action')]['director_list'].explode().value_counts().index[0], 'single_value')

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [285]:
answers['15'] = store_answer(data[data['release_year'] == 2012].explode('cast_list').groupby(by='cast_list')['revenue'].sum().sort_values(ascending=False).index[0], 'single_value')

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [292]:
avg_budget = data['budget'].mean()
answers['16'] = store_answer(data[data['budget'] > avg_budget].explode('cast_list')['cast_list'].value_counts().index[0], 'single_value')

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [300]:
answers['17'] = store_answer(data[data['cast'].str.contains('Nicolas Cage')].explode('genres_list')['genres_list'].value_counts().index[0], 'single_value')

# 18. Самый убыточный фильм от Paramount Pictures

In [305]:
answers['18'] = store_answer(data[data['production_companies'].str.contains('Paramount Pictures')].sort_values(by='profit', ascending=True), 'id_and_movie')

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [311]:
answers['19'] = store_answer(data.groupby(by=['release_year'])['revenue'].sum().sort_values(ascending=False).index[0], 'single_value')

# 20. Какой самый прибыльный год для студии Warner Bros?

In [317]:
answers['20'] = store_answer(data[data['production_companies'].str.contains('Warner Bros')].groupby(by=['release_year'])['profit'].sum().sort_values(ascending=False).index[0], 'single_value')

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [318]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)